#result
{
  display: flex;
  flex-direction: column;
}


.grid {
  border: 2px solid;
  font-size: 15px;
    width: 120px;
	height: 120px;
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
}

.list{
  border: 2px solid burlywood;
  display: inline-flex;
  font-size: 15px;
	width: 400px;
  height: 55px;
  margin: 5px;
  word-wrap: break-word;
}

.list *{
  /* padding: ; */
  margin: 2px;
}

.list *:last-child{
  margin-top: 5px;
  align-self: flex-start;
}