#result
{
  display: flex;
}


.grid {
  border: 2px solid;
  font-size: 15px;
	width: 120px;
	height: 120px;
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
}

.list {
  border: 2px solid burlywood;
  font-size: 15px;
	width: 200px;
  height: 120px;
  margin: 5px;
  text-align: left;
  word-wrap: break-word;
}

